#app.hidden {
  display: block !important;
}

#body {
  margin-top: 56px;
  margin-left: 240px;
  #app.icon & {
    margin-left: 45px;
  }
  #app.hidden & {
    margin-left: 0;
  }
}

#contentInner {
  padding: 1px 10px 50px
}

.content-header {
  position: relative;
  background: #eaf0f5;
  padding-left: 10px;
  z-index: 900;
  h4 {
    i {
      color: #999;
    }
    padding-right: 200px;
  }
  .content-header-buttons {
    position: absolute;
    right: 0;
    top: 0;
    .btn {
      margin-left: 10px;
    }
  }
}

.bottom-bar {
  #app.icon & {
    left: 45px;
  }
  #app.hidden & {
    left: 0;
  }
  left: 240px;
  background: @dark-color;
  z-index: 1;
  .btn {
    margin-left: 10px;
  }
}
